*
{
    margin: 0;
}

body
{
    text-align: center;
}
h1
{
    border: 2px cornflowerblue solid;
    border-radius: 5px;
    box-shadow: 3px 3px 6px cornflowerblue;
    color: cornflowerblue;
    margin: auto;
    margin-top: 50px;
    padding: 3px;
    font-family: Arial;
    font-size: 3rem;
    width:fit-content;
}

.contenedor
{
    display: grid;
    margin-top: 20px;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
}
.cajaResponsive
{
    background-color: rgb(69, 109, 228);
    border: 4px cornflowerblue solid;
    border-radius: 3px;
    color:white;
    height: 40px;
    line-height: 40px;
    font-family: Arial;
    font-size: 100%;
    width: 150px;
}